<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>
        Edit your rating<br>
        <br>
        
        <!-- inside a form action=PUT-->
        <form action="/reviews/<%=review_id%>?_method=PUT" method="POST">

            <!-- Edit the rating number -->
            Rate 1-5 <input type="Number" name="rating" min="1" max="5" value="<%=review.rating%>"><br>
            <br>

            <!-- Edit the review comment -->
            Why this rating?<br>
            <textarea name="review" cols="30" rows="10" value="<%=review.reviewDesc%>"></textarea> <br>

            <!-- button to add rating -->
            <input type="submit" name="review" value=<%=Edit Review%>>

        </form>
        <form action="/rate-my-instructor/<%=instructor.review_id%>?_method=DELETE" method="POST">
            <input type="submit" name="delete" value="Delete Rating">
        </form>
 </h1> 
        
</form>
</body>
</html>