<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Document</title>
</head>
<body class="ga-image">
    <h1 class="h1-tag">
            ✏️ Edit Your Review For <%=instructor.name%> ✏️
    </h1>
        <br>
        <br>
        <!-- inside a form action=PUT -->
        <form class="letter-space" action="/reviews/<%=review._id%>/<%=instructor._id%>?_method=PUT" method="POST">
            <div></div>
            EDIT the rating
            <select name="rating" id="stars" value="<%=review.rating%>">
                <option value="⭐️">⭐️</option>
                <option value="⭐️⭐️">⭐️⭐️</option>
                <option value="⭐️⭐️⭐️">⭐️⭐️⭐️</option>
                <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
                <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
            </select>
            <br>
            <br>
            
            <!-- EDIT the review comment -->
            Edit your comment? <br>
            <input id="comment" wrap="soft" type="text" name="reviewDesc" cols="30" rows="10" value="<%=review.reviewDesc%>">

            <!-- Btn to edit rating -->
                <input type="submit" value="Edit Review">
                <br>

            </form>
        <!-- Btn to DELETE rating -->
        <form action="/reviews/<%=review._id%>/<%=instructor._id%>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Rating">
        </form> 
        
</body>
</html>