<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate My Instructor</title>
</head>
<body>
    <h1>Rate My Instructor</h1>
    <div>
        <h2>
           <a href="/rate-my-instructor/new">
            Add a New Instructor!
            </a> 
        </h2>
        
    </div>
    <div class="container">

        <%instructors.forEach(instructor => {%>
            <a href="/rate-my-instructor/<%=instructor._id%>"><img src="<%=instructor.img%>" alt=instructor.name></a>
            <br />
            <h2><%=instructor.name%> <%=instructor.title%>
            </h2>

            <h3><%=instructor.createdAt%></h3>
            <br>
        <%});%>
    </div>
</body>
</html>