<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs')%>
    <title>Rate My Instructor</title>
</head>
<body>
    <h1 class="h1-tag">✏️ Rate My Instructor ✏️</h1>
    <div>
        <h2>
            <nav>
                <a href="/new">
                 Add a New Instructor!
                 </a> 
            </nav>
        </h2>
    </div>
    <div class="container">
        <!-- <table>
            <tr> -->
                <%instructors.forEach(instructor => {%>
                    <div>
                    <a  href="/<%=instructor._id%>"><img src="<%=instructor.img%>" alt=instructor.name></a>

                    <br />
                    <h2 class="name-and-title">  <%=instructor.name%>: <%=instructor.title%>
                    </h2>
                    
                    <h3 id="created-at">Created at: <%=instructor.createdAt%></h3>
                    <br>
                </div>
                <%});%>
            <!-- </tr>
        </table> -->
    </div>
</body>
</html>