<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Rate-My-Instructor</title>
</head>

<body>
    
    <div>
        <form action="/rate-my-instructor/<%= instructor._id%>?_method=DELETE" method="POST">
        <input class="del" type="submit" value="DELETE INSTRUCTOR">
        <!-- <('del').click(function()>
            <alert.('Are you sure you want to delete this instructor?')>
        }) -->
        </form>

        <h1>
            <% for(let i=0; i < instructor.length; i++) {%>
                <img src="<%=instructor[i].img%>" alt="<%=instructor.name%>"> <br>
                    <%=instructor[i].name%>
                        <%=instructor[i].title%>
        </h1>
         <h2>
             <%=instructor[i].rating%>
                 <%=instructor[i].review%>
             <%}%>
         </h2>   <!-- SHOW rating and reviews -->
    </div>
    <div>
        <%=instructor.name%> <br>
        <%=instructor.title%> <br>
        <img src="<%=instructor.img%>" alt="<%=instructor.name%>"> <br>
        <div>
            <% for(let i=0; i < reviews.length; i++) {%>
                <%=reviews[i].rating%> <br>
                <%=reviews[i].reviewDesc%> <br>

                <!-- EDIT REVIEW working -->
                
                <a href="/reviews/<%=reviews[i]._id%>/<%=instructor._id%>/edit"><button>Edit This Review</button></a> <br>
                <br>
            <%}%>
        
        </div>
         <br>
    </div>
    <div>
        <!-- Add review -->
        <form action="/reviews/<%=instructor._id%>"  method="POST">

            <!-- star system instead of 1-5 -->
            Rate 1-5
            
            <!-- <div class="rating">
                <input  type="radio" name="star" id="star1"><label for="star1"></label>
                <input  type="radio" name="star" id="star2"><label for="star2"></label>
                <input  type="radio" name="star" id="star3"><label for="star3"></label>
                <input  type="radio" name="star" id="star4"><label for="star4"></label>
                <input  type="radio" name="star" id="star5"><label for="star5"></label>
            </div>
        <br><br> -->

        <select name="rating" id="stars">
            <option value="⭐️">⭐️</option>
            <option value="⭐️⭐️">⭐️⭐️</option>
            <option value="⭐️⭐️⭐️">⭐️⭐️⭐️</option>
            <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
            <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
        </select>

        <!-- ADD rating and write review description -->
        <!-- Add Rating 1-5<input type="number" name = rating min="1" max="5"> <br> -->
        <br>
        <input type="text" name="reviewDesc" placeholder="reviewDesc"> <br>
        <br>
        <input type="submit" value="Add Review"> <br>
        </form>
    </div>


</body>

</html>