<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>

        <title>Rate-My-Instructor</title>
</head>

<body>

    <div>
        <form action="/<%= instructor._id%>?_method=DELETE" method="POST">
            <input class="del" type="submit" value="DELETE INSTRUCTOR">
            <!-- <('del').click(function()>
            <alert.('Are you sure you want to delete this instructor?')>
        }) -->
        </form>
        <!-- SHOW rating and reviews -->
    </div>
    <!-- SHOWS instructor info -->
    <div>
        <%=instructor.name%> <br>
            <%=instructor.title%> <br>
                <img src="<%=instructor.img%>" alt="<%=instructor.name%>"> <br>


                <div>
                    <!-- Add review -->
                    <form action="/reviews/<%=instructor._id%>" method="POST">

                        <!-- star system instead of 1-5 -->
                        Rate 1-5

                        <!-- <div class="rating">
                    <input  type="radio" name="star" id="star1"><label for="star1"></label>
                    <input  type="radio" name="star" id="star2"><label for="star2"></label>
                    <input  type="radio" name="star" id="star3"><label for="star3"></label>
                    <input  type="radio" name="star" id="star4"><label for="star4"></label>
                    <input  type="radio" name="star" id="star5"><label for="star5"></label>
                </div>
            <br><br> -->

                        <div id="new-rating">
                            <select name="rating" id="stars">
                                <option value="⭐️">⭐️</option>
                                <option value="⭐️⭐️">⭐️⭐️</option>
                                <option value="⭐️⭐️⭐️">⭐️⭐️⭐️</option>
                                <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
                                <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
                            </select>
                            <br>
                            <!-- The comment box -->
                            <br>
                            <input type="textarea" name="reviewDesc" placeholder="Your comment"> <br>
                            <br>
                            <input type="submit" value="Add Review"> <br>
                        </div>

                    </form>
                </div>


                <div>
                    <% for(let i=0; i < reviews.length; i++) {%>
                        <%=reviews[i].rating%> <br>
                            <%=reviews[i].reviewDesc%> <br>

                                <!-- EDIT REVIEW BUTTON -->
                                <a href="/reviews/<%=reviews[i]._id%>/<%=instructor._id%>/edit"><button>Edit This
                                        Review</button></a> <br>
                                <br>
                                <%}%>

                </div>
                <br>
    </div>


</body>

</html>