<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs')%>

        <title>Rate-My-Instructor</title>
</head>

<body>
    <h1 class="h1-tag">
        ✏️ <%=instructor.name%>'s Reviews%> ✏️
    </h1>
<h2>
    <div>
        <form action="/<%= instructor._id%>?_method=DELETE" method="POST">
            <input class="btn" type="submit" value="DELETE INSTRUCTOR">
            <!-- <('del').click(function()>
            <alert.('Are you sure you want to delete this instructor?')>
        }) -->
        </form>
        <!-- SHOW rating and reviews -->
    </div>
    <!-- SHOWS instructor info -->
    <div>


        <table>
            <tr>
                <td>
                    <%=instructor.name%> <br>
                        <%=instructor.title%> <br>
                            <img src="<%=instructor.img%>" alt="<%=instructor.name%>"> <br>
                </td>
                <td id="reviews">
                    <% for(let i=0; i < reviews.length; i++) {%>
                        <%=reviews[i].rating%> <br>
                            <%=reviews[i].reviewDesc%> <br>
                                <!-- EDIT REVIEW BUTTON -->
                                <a id="Edit-review-btn" href="/reviews/<%=reviews[i]._id%>/<%=instructor._id%>/edit"><button >Edit This
                                        Review</button></a>
                                <br>
                                <%}%>
                </td>
            </tr>
            <tr>
                <td>

                    <div>
                        <!-- Add review -->
                        <form action="/reviews/<%=instructor._id%>" method="POST">

                            <div id="new-rating">
                                Rate 1-5
                                <select name="rating" id="stars">
                                    <option value="⭐️">⭐️</option>
                                    <option value="⭐️⭐️">⭐️⭐️</option>
                                    <option value="⭐️⭐️⭐️">⭐️⭐️⭐️</option>
                                    <option value="⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️</option>
                                    <option value="⭐️⭐️⭐️⭐️⭐️">⭐️⭐️⭐️⭐️⭐️</option>
                                </select>
                                <br>

                                <!-- The comment box -->
                                <br>
                                <textarea name="reviewDesc" id="" cols="75" rows="10">MUST ADD COMMENT</textarea> <br>
                                <br>
                                <input class="btn" type="submit" value="Add Review"> <br>
                            </div>

                        </form>
                    </div>
                </td>
            </tr>


        </table>


        <br>
    </div>

</h2>
</body>

</html>